<p>Hi <%= @rider.firstname.html_safe %>,</p>

<p>Thanks for submitting your application to Fearless Flyers. We appreciate your interest in our program and will review your information and get back to you with your next steps.</p>

<p>If you have any questions please contact our youth coordinator, Diany, at dianydisla@outcycling.org.

<p>Your truly,</p>
<p>OutCycling and Fearless Flyers</p>
